




    #img-jo{
        width: 255px; 
            height: 250px; 
            object-fit: center;
    }

    img { 
        width: 553px; 
        height: 827px; 
        object-fit: center; 
    } 
    #img-work {
        width: 600px; 
    height: 600px; 
    object-fit: center;}

    .red-background {
        background-color:red;}


        h2 {
            font-family: Lobster, monospace;
            font-weight: 300;
          }
          h1{
            font-family: Arial, Helvetica, sans-serif;
        }

    